$nav-tab: #59c45a;
$main-bg: #ffffff;
$second-bg: #efeeee;
$light-font: #ffffff;
$title-font: #59c45a;
$dark-font: #474747;
$article-font: #959595;
$button-main: #59c45a;

$wrap-width: 1920px;
$cont-width: 1200px;