.service {
    display: flex;
    background-color: $second-bg;
    color: $dark-font;
}


.service__block {
    width: 50%;
    padding: 60px 30px 40px;
}

.service__title {
    margin-bottom: 60px;
}

.service__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 60px auto 0;
}

.service__item {
    width: 46%;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    text-align: center;
    
}

.service__text {
    margin: 0;
    margin-bottom: 30px;
    text-align: justify;
}

.service__icon {
    margin: 0 auto;
    margin-bottom: 15px;
}

// Стили слайдера
.slider {
    width: 50%;
    position: relative;
}

.slick-list,
.slick-track {
    height: 100%;
}

.slide__pic {
    height: 100%;
}

.slide__img{
    object-fit: cover;
    height: 100%;
}

.slick-dots {
    position: absolute;
    width: 100%;
    bottom: 40px;
    left: 0;
    display: flex;
    justify-content: center;
}

.slick-dots button {
    font-size: 0;
    border: none;
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-color: rgba( #ffffff, 0.5);
    border-radius: 50%;
    margin: 0 6px;
}

.slick-active button {
    background-color: rgba( #ffffff, 1);  
}





@media(max-width: 1200px) {
    .service {
        flex-wrap: wrap;
    }

    .slider {
        height: 350px;
    }

    .slider {
        width: 100%;
    }
    .service__block {
        width: 100%;
        padding: 40px 30px 40px;
    }
    .slide__img{
        object-fit: cover;
        width: 100%;
        object-position: bottom;
    }
}

@media(max-width: 800px) {
    .service__item {
        width: 100%;
    }

    .service__title {
        margin-bottom: 40px;
    }
    .service__list {
        margin-top: 0;
    }
}

@media(max-width: 720px) {
    .slide__img {
        filter: blur(5px);
    }
    .slick-center .slide__img {
        filter: blur(0px); 
    }
    
}

@media(max-width: 420px) {
    .slider {
        height: 280px;
    }
}